{% extends 'base/base.html' %}
{% load static %}
{% block title %} Lembre-me {% endblock %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
    <div class="container mt-5 text-white">

        {% now "H" as hora %} <!--  Variável de hora -->
        {% if hora|add:"0" >= 00 and hora|add:"0" < 12 %}
        <h3 text-xl font-semibold text-center>Bom dia, {{ user.first_name }}</h3>
        <h6 flex items-center gap-2 font-medium text-custom-text-400 style="color: gray"><img class="img-fluid" src="{% static '/images/sun.png' %}"> {% now "l, j M H:i" %}</h6>
        {% elif hora|add:"0" >= 12 and hora|add:"0" < 18 %}
        <h3 text-xl font-semibold text-center>Boa tarde, {{ user.first_name }}</h3>
        <h6 flex items-center gap-2 font-medium text-custom-text-400 style="color: gray"><img class="img-fluid" src="{% static '/images/sun.png' %}"> {% now "l, j M H:i" %}</h6>
        {% else %}
        <h3 text-xl font-semibold text-center>Boa noite, {{ user.first_name }}</h3>
        <h6 flex items-center gap-2 font-medium text-custom-text-400 style="color: gray"><img class="img-fluid" src="{% static '/images/moon.png' %}"> {% now "l, j M H:i" %}</h6>
        {% endif %}

        <p class="lead mt-3">Crie projetos e faça interações com seu time.</p>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card bg-dark text-white border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Projeto 1</h5>
                        <p class="card-text">Aqui está seu Projeto 1, veja seu andamento.</p>
                        <a href="#" class="btn btn-outline-light">Saiba Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card bg-dark text-white border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Projeto 2</h5>
                        <p class="card-text">O nosso projeto é incrível.</p>
                        <a href="#" class="btn btn-outline-light">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
        <span class="text-white">Lembre-me está focado em sua produtividade.</span>
    </div>
    {% else %}
    <div class="container mt-5 text-white">
            <h3>Olá, este é o Lembre-me</h3>
            <p class="lead">Gerencie seus projetos, crie, delete e edite seus tickets. O diferencial é nosso chat entre o responsável do ticket e o cliente..</p>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card bg-dark text-white border-secondary">
                        <div class="card-body">
                            <h5 class="card-title">Projetos</h5>
                            <p class="card-text">Crie projetos e acompanhe seu andamento.</p>
                            <a href="#" class="btn btn-outline-light">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card bg-dark text-white border-secondary">
                        <div class="card-body">
                            <h5 class="card-title">Tickets</h5>
                            <p class="card-text">Abra tickets de desenvolvimento e saiba como tudo está.</p>
                            <a href="#" class="btn btn-outline-light">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-white">Lembre-me é um projeto Open Source.</span>
        </div>
    {% endif %}
</div>
{% endblock %}
