{% extends 'base/base.html' %}

{% block title %} Lembre-me {% endblock %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="py-2">Olá {{ user.username }}!</h1>
            <h3 class="py-2">Site em construção...</h3>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h6 class="py-2"> Faça login para entrar! </h6>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
