{% extends 'base.html' %}

{% block title %} Lembre-me {% endblock %}

{% block body %}
<h1> Tarefas: </h1>

<form method="POST" action="/" class="form">
    {% csrf_token %}
    {{TaskForm.title}}
    <input class="btn" type="submit" name="Criar tarefa">
</form>

<div class="container-fluid">
    <div class="row border">
    <div class="col">
    <div class="status" id="novo">
        <h2>Novo</h2>
        {% for task in tasks %}
            {% if task.new == 1 %}
            <div class="task">#{{task.id}}</div>
            <div class="task">{{task.title}}</div>
            <div class="task">{{task.created}}</div>
            <a href="{% url 'update-task' task.id %}"><i class="bi bi-pencil-fill" title="Editar"></i></a>
            <a href="{% url 'delete-task' task.id %}"><i class="bi bi-x-circle-fill" title="Excluir"></i></a>
            {% endif %}
        {% endfor %}
    </div>
    </div>
    <div class="col">
    <div class="status" id="em-andamento">
        <h2>Em andamento</h2>
        {% for task in tasks %}
            {% if task.in_progress == 1 %}
            <div class="task">#{{task.id}}</div>
            <div class="task">{{task.title}}</div>
            <div class="task">{{task.created}}</div>
            <a href="{% url 'update-task' task.id %}"><i class="bi bi-pencil-fill" title="Editar"></i></a>
            <a href="{% url 'delete-task' task.id %}"><i class="bi bi-x-circle-fill" title="Excluir"></i></a>
            {% endif %}
        {% endfor %}
    </div>
    </div>
    <div class="col">
    <div class="status" id="em-teste">
        <h2>Testando</h2>
        {% for task in tasks %}
            {% if task.testing == 1 %}
            <div class="task">#{{task.id}}</div>
            <div class="task">{{task.title}}</div>
            <div class="task">{{task.created}}</div>
            <a href="{% url 'update-task' task.id %}"><i class="bi bi-pencil-fill" title="Editar"></i></a>
            <a href="{% url 'delete-task' task.id %}"><i class="bi bi-x-circle-fill" title="Excluir"></i></a>
            {% endif %}
        {% endfor %}
    </div>
    </div>
    <div class="col">
    <div class="status" id="homologacao">
        <h2>Homologação</h2>
        {% for task in tasks %}
            {% if task.homologation == 1 %}
            <div class="task">#{{task.id}}</div>
            <div class="task">{{task.title}}</div>
            <div class="task">{{task.created}}</div>
            <a href="{% url 'update-task' task.id %}"><i class="bi bi-pencil-fill" title="Editar"></i></a>
            <a href="{% url 'delete-task' task.id %}"><i class="bi bi-x-circle-fill" title="Excluir"></i></a>
            {% endif %}
        {% endfor %}
    </div>
    </div>
</div>
</div>
{% endblock %}
