{% extends 'base/base.html' %}
{% block title %} Lista tickets {% endblock %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between mb-3 align-items-center">
    <h2>Seus tickets... {{ user.first_name }}</h2>
    <button
        hx-get="{% url 'novo-ticket' %}"
        hx-target="#modals-ticket"
        data-bs-toggle="modal"
        data-bs-target="#modals-ticket"
        class="btn btn-success btn-sm d-flex align-items-center" title="Novo Ticket">+ Novo ticket
    </button>
</div>

<div id="lista-tickets">
    {% include 'planner/deck_lista_ticket.html' %}
</div>

<!-- Modal novo ticket -->
<div class="modal fade" id="modals-ticket" tabindex="-1" aria-hidden="true">
    {% include 'planner/novo_ticket.html' %}
</div>

<!-- Modal editar ticket -->
<div class="modal fade" id="modals-update-ticket" tabindex="-1" aria-hidden="true">
    {% include 'planner/update_ticket.html' %}
</div>

<!-- Modal detalhe ticket -->
<div class="modal fade" id="modals-detalhe-ticket" tabindex="-1" aria-hidden="true">
    {% include 'planner/detalhe_ticket.html' %}
</div>

{% endblock %}
