{% extends 'base/base.html' %}
{% block title %} Lista projetos {% endblock %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between mb-3 align-items-center">
    <h2>Seus projetos... {{ user.first_name }}</h2>
    <button
        hx-get="{% url 'novo-projeto' %}"
        hx-target="#modals-novo-projeto"
        data-bs-toggle="modal"
        data-bs-target="#modals-novo-projeto"
        class="btn btn-success d-flex align-items-center" title="Novo Projeto" >Add Projeto
    </button>
</div>

<div id="lista-projetos">
    {% include 'planner/includes/_lista_projeto.html' %}
</div>

<!-- Modal novo projeto -->
<div class="modal fade" id="modals-novo-projeto" tabindex="-1" aria-hidden="true">
    {% include 'planner/novo_projeto.html' %}
</div>

<!-- Modal editar projeto -->
<div class="modal fade" id="modals-update-projeto" tabindex="-1" aria-hidden="true">
    {% include 'planner/update_projeto.html' %}
</div>

<!-- Modal novo ticket -->
<div class="modal fade" id="modals-ticket" tabindex="-1" aria-hidden="true">
    {% include 'planner/novo_ticket.html' %}
</div>
{% endblock %}
