{% extends 'base/base.html' %}
{% block title %} Novo Subticket {% endblock %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <h3>Crie seu Projeto...</h3>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Criar">
        <a type="submit" class="btn btn-secondary ms-2" href="{% url 'lista-projeto' %}">Cancelar</a>
    </form>
</div>
{% endblock %}
