{% load static %}

<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
        <h4>Crie seu projeto...</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form hx-post="{% url 'novo-projeto' %}" hx-target="#body">
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Criar">
        </form>
    </div>
  </div>
</div>
