{% extends 'base/base.html' %}
{% block title %} Editar ticket {% endblock %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <h3>Editando: <strong>{{ ticket.titulo }}</strong></h3>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary md-2 btn-sm" value="Atualizar">
        <a type="submit" class="btn btn-secondary ms-2 btn-sm" href="{% url 'lista-ticket' %}">Cancelar</a>
    </form>
</div>
{% endblock %}
