{% load static %}

<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
        <h4>Editando: <strong>{{ ticket.titulo }}</strong></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form hx-post="{{ request.path }}" hx-target="#body">
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Atualizar">
        </form>
    </div>
  </div>
</div>
