{% extends 'base/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Entre ou registre-se</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <p class="text-danger">{{ field.errors|striptags }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </form>
                <p class="py-2 text-center"> Esqueceu a senha? <a href="#"> Redefinir senha </a></p>
                <p class="text-center"> Não possui uma conta? <a href="{% url 'register' %}"> Registre-se </a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
