{% extends 'base/base.html' %}
{% block title %} Registre-se {% endblock %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Crie sua conta</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <p class="text-danger">{{ field.errors|striptags }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
                <a href="{% url 'login' %}" class="py-2"> Já possui uma conta? </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
